<% if user_signed_in? %>
  <h1 class="text-center">Your Todos:</h1>

  <div class="container my-5">

    <table class="table table-stripped table-bordered table-hover">
      <thead class = "table-dark">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <% @todo_lists.each do |todo_list| %>

        <% if todo_list.user == current_user %>
        <tr>
          <td>
            <%= todo_list.title %>
          </td>
          <!-- <td><%= todo_list.desc %></td> -->
          <td>
            <%= link_to 'Show desc' , todo_list, class:"btn btn-primary" %>
          </td>
          <td>
          <%= button_to 'Remove' , todo_list, :confirm=> 'Are you sure?', :method => :delete ,class:"btn btn-danger"%>
          </td>
          <!-- <td>
            <%= link_to 'Edit' , edit_todo_list_path(todo_list),class:"btn btn-primary" %>
          </td>
         -->
        </tr>
        <% else %>

        <% end %>
        <% end %>
    </table>

    <br />

    <%= link_to 'New Todo' , new_todo_list_path, class:"btn btn-secondary" %>
  </div>
<% else %>
<div class="container">

  <h1 class="text-center">You are not Signed in!</h1>
  <div class="container my-4" style="display:flex; align-items: center; justify-content: center;">

    <%= button_to "Sign Up",new_user_registration_path,class:"btn btn-secondary mx-2" %>
    <%= button_to "Sign In",new_user_session_path,class:"btn btn-secondary mx-2"%>
  </div>
</div>
</div>

<% end %>